<div class="ui large aligned header">
<form action='/search' method='get' class="">
	<input type="text" name='q' placeholder="keyword" autofocus>
	<input class="btn primary" type='submit' value='search'>
</form>
</div>
<div class="ui divider"></div>
<% if locals[:keyword] != nil%>
	<h2>「<%= locals[:keyword] %>」 の検索結果 </h3>
	<div class="ui items">
		<% locals[:hits].each do |c| %>
			<div class="item">
				<div class="image">
					<img src="<%= c["thumbnail_url"] %>">
				</div>
				<div class="content">
					<a href='http://nico.ms/<%= c["content_id"]%>' >
						<h3><%=  c["title"] %></h3>
					</a>
					<div class="meta">
						<%=  c["start_time"] %>
					</div>
					<div class="description">
						<%= c["description"] %>
					</div>
				</div>
			</div>
		<% end %>
	</div>

<% end %>
